<% if @joke.present? %>
  <%= link_to 'Tickle', random_path, class: 'btn btn-primary btn-block', style: "height: 30px; width: 100px;margin:0 auto" %></br>
    
  <div class="panel panel-default">
    <div class="panel-body">
      <blockquote>
        <p><%= simple_format @joke.jokes %></p>
        <small>by <%= @joke.author %></small>
      </blockquote>
        
      <br>

      <div class="btn-group" role="group">
        <%= link_to 'Delete', joke_path(@joke), method: :delete, class: 'btn btn-sm btn-danger', data: {confirm: "Are you sure?"} %>
        <%= link_to 'Revise', edit_joke_path(@joke), class: 'btn btn-sm btn-success' %>
      </div>
    </div>
  </div>
 <% end %>