<% if @joke.present? %>
  <%= link_to 'Tickle Me', random_path, class: 'btn btn-primary btn-block' %>
<div class="panel panel-default">
  <div class="panel-body">
    <blockquote>
      <p><%= <%= @joke.jokes %>
 </p>
      <small>by <%= @joke.author %></small>
    </blockquote>
      
    <br>

    <div class="btn-group" role="group">
      <%= link_to 'Delete', joke_path(@joke), method: :delete, class: 'btn btn-sm btn-danger', data: {confirm: "Are you sure?"} %>
      <%= link_to 'Revise', edit_joke_path(@joke), class: 'btn btn-sm btn-success' %>
    </div>
  </div>
</div>